.body{
  height:700rpx;
  width: 100%;
  background-color: rgba(214,231,242);
  border-radius: 24rpx;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:50%;
  margin-top:-350rpx;
  /* padding: 100rpx 0rpx; */
}
.body-box-block{
   width: 610rpx;
   height: 130rpx;
   border-radius: 24rpx;
   display:flex;
   align-items: center;
   justify-content: center;
   /* margin:0 auto; */
   margin-bottom:40rpx;
   font-size: 60rpx;
   font-weight: 600;
}
.color1{
  background-color:rgba(164,208,244);
  color:rgba(5,66,104)
}
.color2{
  background-color: rgba(189,196,244);
  color:rgba(5,66,104)
}
.color3{
  background-color:  rgba(249,238,172);
  color:rgba(5,66,104)
}
.body-box-block-text{
  /* line-height: 130rpx; */
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;

}
image{
  width: 100rpx;
  height: 100rpx;
  vertical-align: middle;
  margin-right:30rpx ;
  /* line-height: 130rpx; */
  color :rgba(249,238,172)
}
body-box-block-text-end{
  /* vertical-align: middle; */
  
}