.head{
  width: 668rpx;
  height: 578rpx;
  margin:0 auto;
}
.history-table-wrap{
  /* position: absolute; */
  width: 668rpx;
  height: 988rpx;
  /* left: 50%; */
  margin:0 auto;
  margin-top: 20rpx;
  /* margin-left: -334rpx; */
  overflow-y: scroll;
  overflow-x: hidden;
}
/* 表格代码   */
.table{
  border:1px solid #dadada;
  border-right:0;
  border-bottom: 0;
  width: 98%;
  margin-left: 1%;
}
.tr{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.th,.td{
  padding: 10px;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.th1,.th2,.td1,.td2{
  width: 40%;
}
.th{
  font-weight: 800;
  background-color: #A1DFCD;
  font-size: 28rpx;
  color: white;
}
.td{
  font-size: 20rpx;
  color: rgba(0,0,0,0.7);
  
}
.head-title{
  display: flex;
  justify-content: center;
  margin-top:40rpx;
  margin-bottom: 50rpx;
}
.head-text{
  font-weight: 800;
  font-size: 26rpx;
  color:rgba(0,0,0,0.6)
}
.img{
  width: 180rpx;
  height: 90rpx;
  /* margin:0 auto */
}
.head-image{
    width: 96%;
    /* height: 60rpx; */
    vertical-align: middle;
    margin-left: 20rpx;
}
.head_describe{
  margin-top: 20rpx;
  margin-bottom: 60rpx;
}
.tr-text{
  display: table;
  margin:0 auto;
  line-height:112rpx ;

}
@media (prefers-color-scheme: dark){
  /* .th{
    color:#ffffff
  } */
  .th{
    color:rgba(70,70,70);
    
  }
  .tr{
    filter: invert(90%) !important;
    color:#A1DFCD;
    color:rgba(16,16,16)
  }
  .tr-text{
    filter: invert(100%) !important;
    /* color:#A1DFCD; */
    color:rgba(16,16,16,0.8)
  }
  .head-image{
    filter: invert(20%)!important;
  }
  
}