/* pages/component/nav/nav.wxss */
/* .cu-item{
  height: 185rpx;
  font-size: 40rpx;
  padding: 30rpx 0rpx;
} */
.goods{
  width: 100%;
  height: 235rpx;
  margin: 0 40rpx 65rpx 40rpx;
  display: flex;
  align-items: center;
  
}
.goodsImg{
  height: 100%;
  width: 240rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdb5d3;
  border-radius: 15rpx;
}
.goodsImg image{
  height: 94%;
  width: 94%;
}
.goodsContent{
  /* background-color: tomato; */
  line-height: 52rpx;
  width: 58%;
  height: 100%;
  padding: 0 0 0 19rpx;
}
.goodsName{
  font-size: 30rpx;
  font-weight: 550;
  width: 100%;
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:2;
}

.goodsBrief{
  font-size: 26rpx;
  color: rgba(58, 58, 58, 0.904);
  width: 100%;
  overflow:hidden; 
  text-overflow:ellipsis;
  white-space:nowrap; 
}
.goodsSold{
  font-size: 24rpx;
  color: rgba(78, 78, 78, 0.692);
  width: 100%;
}
.goodsPrice{
  color:#8984A8;
  font-family:inherit;
  font-size: 33rpx;
  position: relative;
  top: 27rpx;
}
.price{
  font-size: 43rpx;
  position: relative;
  font-weight:455;
  right: 10rpx;
}
.goodsAdd{
  height: 45rpx;
  width: 45rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rpx;
  background-color: #8584A3;
  float: right;
  position: relative;
  bottom: 28rpx;
}
.goodsAdd image{
  width: 58%;
  height: 58%;
}
.settle{
  width: 100%;
  height: 90rpx;
  background-color: rgb(255, 255, 255);
}
.settleAll{
  height: 100%;
  width: 50%;
  float: right;
  font-size: 30rpx;
  display: flex;
  flex-direction: row;
}
.calcAll{
  font-size: 28rpx;
  line-height: 43rpx;
  color: rgb(255, 255, 255);
  width: 60%;
  height: 100%;
  color: rgb(0, 0, 0);
}
.calcAll text{
  font-size: 30rpx;
  color: #7C73A9;
  position: relative;
  right: 10rpx;
}
.freight{
  color:rgba(78, 78, 78, 0.692);
  margin-right: 35rpx;
  float: right;
  font-size: 25rpx;
}
.goSettle{
  height: 100%;
  width: 50%;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26rpx;
  background-color: #696BA4;
}











.cu-avatar {
  width: 175rpx;
  height: 175rpx;
  font-size: 2em;
}
.lg {
  width: 175rpx;
  height: 175rpx;
  font-size: 2em;
}
.solids-bottommy {
  border-bottom: 1rpx solid #eee;
}
.solids-topmy{
  border-bottom: 1rpx solid #eee;
}


.btn-confirm {
  color: #008DF8;
  text-align: center;
  font-size: 34rpx;
}

.btn-confirm::after {
  border: none;
}

.dingdanimg {
  height: 90rpx;
  display: inline-block;
  margin: 0 10rpx;
}

/* .cu-list.menu-avatar>.cu-item>.cu-avatar {
  position: absolute;
  left: 10rpx;
} */

/* .VerticalNav.nav .cu-item.cur {
  background-color: white;
} */

.cu-btn.icon {
  width: 33%;
  height: 33%;
  border-radius: 500rpx;
  padding: 0;

}




.VerticalNav.nav {
  width: 250rpx;
  white-space: initial;
}

/* .VerticalNav.nav .cu-item {
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin: 0;
  border: none;
  height: 50px;
  position: relative;
} */


/* .VerticalNav.nav .cu-item.cur::after {
  content: "";
  width: 8rpx;
  height: 30rpx;
  border-radius: 10rpx 0 0 10rpx;
  position: absolute;
  background-color: currentColor;
  top: 0;
  right: 0rpx;
  bottom: 0;
  margin: auto;
} */

.VerticalBox {
  display: flex;
}

.VerticalMain {
  background-color: #ffffff;
}


@media (prefers-color-scheme: dark) {
  .hhh {
    filter: invert(100%) !important;
  }
  .cu-avatar {
    filter: invert(100%) !important;
  }
  .bg-white{
    background-color: #000;
  }

  
}

