@media (prefers-color-scheme: dark) {


 .text-green{
  filter: invert(90%) !important;
 }
 .bg-red{
  filter: invert(90%) !important;
  /* background-color: #fff; */

 }
 .text-red{
  filter: invert(96%) !important;
  /* background-color: #fff; */

 }
 .light{
  filter: invert(90%) !important;
     background-color: #000;
 }
}