@media (prefers-color-scheme: dark) {


  .text-green {
    filter: invert(90%) !important;
  }

  .bg-red {
    filter: invert(90%) !important;
    /* background-color: #fff; */

  }

  .text-red {
    filter: invert(96%) !important;
    /* background-color: #fff; */

  }

  .light {
    filter: invert(90%) !important;
    background-color: #000;
  }
}

.ss{
  height: 80rpx;
  font-size: 28rpx;
  display: flex;
  padding-left: 20rpx;
  flex-direction: row;
  align-items: center;
}

.input{
  background-color: #e7e6e6;
  width: 400rpx;
  height: 50rpx;
  margin-left: 20rpx;
  border-radius: 20rpx;
  padding-left: 20rpx
}